@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root{
  --body-color: #F5F6FA; 

  --body-color-light:white;

  --theme-color:#26273B;

  --body-border:#E8E8E8;

  --link-color:black;

  --grey: rgba(0, 0, 0, 0.425);

  --input-bg-color:#FAFBFD;

  --blue:#377DFF;

  --activity-status:#D7E5FF;

  --black-grey:black;

  --candidates-count:#D6F5E6;

}
/* :root{
  --body-color:#1B1C31;

  --body-color-light:#26273B;

  --theme-color:white;

  --body-border:#1B1C31;

  --link-color:white;

  --grey: rgba(255, 255, 255, 0.425);

  --input-bg-color:#2E2F44;

  --blue:#377DFF;

  --activity-status:#263560;

  --black-grey:grey;

  --candidates-count:#414755;
} */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 0;
  font-family: 'Monda', sans-serif;

}
a{
  list-style-type: none;
  text-decoration: none;
  color: black;
}
body{
  background-color: var(--body-color);
}
.right{
  
  margin-left: 248px;
}
.right-inner{
  margin-inline: 2.06rem;
  margin-bottom: 2.06rem;
}
input::placeholder{
  color: #C4C4C4;
}
input:focus{
  outline: none;
}
img{
  width: 100%;
}
.container-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block:0.9rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--link-color);
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #377DFF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #377dffa2;
}